@import "tailwindcss";
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / Edge */
body {
  -ms-overflow-style: none;
}
